.tags_bar {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 16px;
    min-height: 34px;
    display: flex;
    overflow: auto;
}

.tags_bar>* {
    flex-shrink: 0;
}

.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    font-size: 12px;
    font-family: "Segoe MDL2 Assets";
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.add_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}