.years_editor {
    display: flex;
}

.active_year {
    height: 28px;
    width: 96px;
    padding: 0 12px;
    text-align: center;
    line-height: 28px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    outline: none;
    white-space: nowrap;
    overflow: overlay;
}

.active_year::-webkit-scrollbar {
    height: 6px;
}

.active_year::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
}

.dropdown_button, .add_button, .delete_button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 28px;
    text-align: center;
    height: 28px;
    width: 28px;
    margin-left: 4px;
    font-size: 14px;
    font-family: 'Segoe MDL2 Assets';
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
}

.active_year:hover, .dropdown_button:hover, .add_button:hover, .delete_button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.active_year:active, .dropdown_button:active, .add_button:active, .delete_button:active {
    background-color: rgba(0, 0, 0, 0.35);
}

.year_options_group {
    z-index: 1000;
    position: absolute;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 112px;
    padding: 4px 4px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.year_options_group[data-show="false"] {
    display: none;
}

.year_options_group>.placeholder {
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.year_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 4px 0;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.year_option+.year_option::before {
    position: relative;
    display: block;
    content: "";
    width: calc(100% - 8px);
    height: 0px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    top: -7px;
}

.year_option:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 4px -1px rgba(0, 0, 0, 0.1);
}

.year_option:hover::before, .year_option:hover+.year_option::before {
    border-top: 1px solid rgba(0, 0, 0, 0);
}