.diary_list_item {
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 16px 16px 0 16px;
    border-radius: 8px;
}

.diary_list_item:hover {
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.25);
}

.diary_list_item[data-selected="true"] {
    background-color: #fff;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.25);
    position: sticky;
    position: -webkit-sticky;
    top: 16px;
    bottom: 0px;
}

.diary_list_item_index {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.diary_list_item_title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 12px;
}