.diary_page {
    flex-basis: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 52px;
    overflow: auto;
}

.content_editor {
    flex-grow: 1;
    flex-shrink: 1;
}

.content_editor>* {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
}