.rich_text_editor {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rich_text_editor>:first-child {
    height: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.rich_text_editor>:nth-child(2) {
    min-height: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}