@font-face {
  font-family: 'Segoe MDL2 Assets';
  src: url('../assets/fonts/segmdl2.ttf');
}

* {
  margin: 0;
  padding: 0;
}
:root{
  font-size: 17px;
}

body {
  overflow: overlay;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, '微软雅黑';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: transparent;
}