.app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: grid;
    background-color: #f7f7f7;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
}